/* Reset some default styles */
html, body, ul {
	margin: 0;
	padding: 0;
  }
  
  /* Set up basic styling */
  body {
	font-family: Arial, sans-serif;
	background-color: #09090a;
	line-height: 1.6;
	color: #eae5e5;
  }
  
  .container {
	max-width: 960px;
	display: grid;
	margin: 0 auto;
	padding: 0 15px;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;

  }

  @media (max-width: 768px) {
	.container {
	  grid-template-columns: 1fr;
	}
  }

  header {
	background-color: #333;
	color: #ede9e9;
	padding: 10px 0;
  }
  
  header h1 {
	margin: 0;
	padding: 0;
	font-size: 24px;
  }
  
  nav ul {
	list-style: none;
  }
  
  nav ul li {
	display: inline;
	margin-right: 10px;
  }
  
  nav ul li a {
	color: #efe8e8;
	text-decoration: none;
  }
  
  .hero {
	background-image: url('IMG_6.JPG');
	background-size: cover;
	background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	color: hsl(216, 36%, 95%);
	padding: 0;
  }

  .hero h2 {
	font-size: 36px;
  }


  
  .btn {
	display: inline-block;
	background-color: #333;
	color: #eae1e1;
	padding: 10px 20px;
	text-decoration: none;
	margin-top: 20px;
  }
  
  .about,
  .players,
  .contact {
	display: none;
	padding: 50px 0;
	text-align: center;
  }
  
  .about h2,
  .players h2,
  .contact h2 {
	margin-bottom: 20px;
  }

  .logo {
    text-align: center;
    flex: auto;
    margin-bottom: 20px;
    justify-content: space-between;
    background-image: none;
    background-color: #030304;
  }
  
  .logo img {
    max-width: 150px; /* Adjust the maximum width as needed */
  }
  
    
  /* CSS for the player positions */
  .player-positions {
    margin-bottom: 20px;
  }

  .player-positions h3 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-wrap: wrap;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px 5%;
  }

  .player-positions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .player-positions li {
    margin-bottom: 5px;
  }

  


  footer {
	background-color: #333;
	color: #f4eeee;
	padding: 20px 0;
	text-align: center;
  }

  footer p {
	margin: 0;
  }
  